<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="app-tesseract">
    <a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>
    <div class="wrap-page">
      
      <%= yield %>

    </div>
    <!-- close wrap-page -->
  </body>
</html>
